<li class="product-tile">
	{{#if promo}}
		<p class="product-tile__promo">{{{promo}}}</p>
	{{/if}}
	<a class="product-tile__image" href="/pdp/{{id}}">
		<img src="{{img}}" alt="{{{name}}}">
	</a>
	<p class="product-tile__name">
		<a href="/pdp/{{id}}">
			{{{name}}}
		</a>
	</p>
	<p class="product-tile__price">Price: {{{price}}}</p>
	<form class="product-tile__buyForm" action="/buy">
		<input name="productId" id="productId" type="hidden" value="{{id}}" />
		<button class="product-tile__buyButton" type="submit">Add <span class="visually-hidden">{{{name}}} </span>to basket</button>
	</form>
	<form class="product-tile__subscribeForm" action="/subscribe">
		<input name="productId" id="productId" type="hidden" value="{{id}}" />
		<button class="product-tile__subscribeButton" type="submit">Add <span class="visually-hidden">{{{name}}} </span>to subscription</button>
	</form>
</li>