<li class="product-tile">
	{{#if promo}}
		<p class="product-tile__promo">{{{promo}}}</p>
	{{/if}}
	<a class="product-tile__image" href="/pdp/{{id}}">
		<img src="{{img}}" alt="{{{name}}}">
	</a>
	<p class="product-tile__name">
		<a href="/pdp/{{id}}">
			{{{name}}}
		</a>
	</p>
	<p class="product-tile__price">Price: {{{price}}}</p>
	<div class="product-tile__buyButton" data-product-id="{{id}}">Add to basket</div>
	<div class="product-tile__subscribeButton" data-product-id="{{id}}">Add to subscription</div>
</li>